doctype html
html
    head
        title= Simulador
        link(rel='stylesheet', href='/css/style.css')
        script(src="/scripts/carro.js", type="text/javascript")
        script(src="/scripts/control.js", type="text/javascript")
    body
        block content